
body {
margin:0 auto;
font-family: verdana, sans-serif;
background-color: #C8E591
}
header h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    box-shadow: inset, #8DF290;
}
ul li {
font-style: italic;
}
footer a {
    text-decoration: none;
}
